@import '../../sass/variables/mixins.sass';
@import '../../sass/variables/colors.sass';
@import '../../sass/media-queires/media.sass';

.form-control:focus {
  color: var(--bs-body-color);
  border-color: transparent !important;
  // box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
  box-shadow: none !important;
}

.field-input {
  &__form-box {
    background-color: $background-field-input;
    border-radius: 1rem;
    outline: 1px solid $outline-field-input;
  }
  &__textarea {
    flex: 0 0 90%;
    max-height: 11rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1.1rem;
    @include respond(phone-first) {
      flex: 0 0 80%;
      margin-right: auto;
    }

    background: $background-field-input-textarea;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: $box-shadow-field-input-scrollbar-track;
      border-radius: 10px;
      background-color: $background-field-input-scrollbar-track;
      margin: 0.5rem 0;
    }
    &::-webkit-scrollbar {
      width: 1rem;
      background-color: $background-field-input-scrollbar;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      -webkit-box-shadow: $box-shadow-field-input-scrollbar-thumb;
      background-color: $background-field-input-scrollbar-thumb;
      outline: $outline-field-input-scrollbar-thumb;
    }
    & textarea {
      font-size: 1.5rem;
      border-radius: 0.6rem;
      width: 100%;
      overflow: hidden;
      // white-space: pre-wrap;
      resize: none;
      border-color: transparent;
      outline: 0;
    }
  }
  &__submit {
    flex: 0 0 10%;
    width: clamp(5rem, 75%, 8rem);
    @include flex-Vcenter-Hcenter;
  }
  &__btn-submit {
    background-color: $background-field-input-btn !important;
    outline: 2px solid $outline-field-input-btn;
    color: $color-field-input-btn !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    transition: all 0.4s !important;
    @include respond(phone-first) {
      margin-right: 0.8rem;
    }
    &:focus:not(:focus-visible) {
      outline: 2px solid $outline-field-input-btn;
    }
    &:hover {
      background-color: $background-field-input-btn-hover !important;
      color: $color-field-input-btn-hover !important;
      outline: 2px solid $outline-field-input-btn-hover;
    }
    &_active {
      background-color: $background-field-input-btn-active !important;
      color: $color-field-input-btn-active !important;
    }
  }
}
// .field-for-user {
//   //   /* Заборона зміни розміру вводу */
//   //   white-space: pre-wrap; /* Дозволяє перенос рядків та збільшує висоту */
//   //   overflow: hidden; /* Ховає зайвий текст, якщо він не поміщається */
// }

// .btn-submit {
// }
