.css-1betqn-MuiAccordionSummary-content {
  margin: 0.5rem !important;
}

.css-t922vh-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: 1rem !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 1.5rem !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 1.5rem;
}

.css-1sryx56-MuiAccordionDetails-root {
  padding: 0.8rem 1.6rem !important;
}
